.bg-customc {
    background-color: hsl(0, 0%, 0%); /* Tu color personalizado */
        }

        .bg-customd {
    background-color: rgb(0, 48, 2); /* Tu color personalizado */
        }

        .bg-custome {
    background-color: hsl(22, 94%, 49%); /* Tu color personalizado */
        }

    .orange-text {
            color: #34bbfa; /* Tu color de texto personalizado */
          }
    
    .dark-text {
            color: hwb(30 13% 87%); /* Tu color de texto personalizado */
          }
    