body{
    background-color: hwb(0 58% 42%);
}

.bg-green {
    background-color: hsl(125, 100%, 18%); /* Tu color personalizado */
    }

    .bg-orange {
    background-color: hwb(22 0% 0%); /* Tu color personalizado */
    }

    #buttons
    {
        display: none;
    }
    #button1
    {
        display: none;
    }

    #button2
    {
        display: none;
    }

    #user-search-bar
    {
        display: none;
    }

/* Style de las tablas ranking ( default: none) */

#ranking_single {
    display: none;
  }

#ranking_team {
    display: none;
  }

/* Styles de mensajes */

#ranking_single {
    display: none;
  }

#mensaje {
    background-color: hwb(0 0% 100%) ;
    color: rgb(35, 190, 252);
    font-size: 16px;
    font-family: "Arial";
    font-weight: bold;
  }

#server_name {
    background-color: hwb(0 0% 100%) ;
    color: hwb(0 100% 0%);
    font-size: 18px;
    font-family: "Arial";
    font-weight: bold;
  }


  .bg-clan1 {
    background-color: hsl(54, 100%, 17%); /* Tu color personalizado */
    }

  .bg-clan2 {
    background-color: hwb(194 7% 29%); /* Tu color personalizado */
    }

  
    #scrollToTopBtn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: none;
    }

