.bg-customc {
    background-color: hsl(0, 0%, 0%); /* Tu color personalizado */
        }

        .bg-customd {
    background-color: rgb(0, 48, 2); /* Tu color personalizado */
        }

        .bg-custome {
    background-color: #ff9102; /* Tu color personalizado */
        }